<div hidden id="{{ HtmlElementId.TraversePanel }}">
  <span>Traversal Depth:</span>
  <span id="{{ HtmlElementId.DepthValue }}">{{ TraversalInitialState.depth }}</span>
  <br />

  <input
    class="slider"
    id="{{ HtmlElementId.DepthRange }}"
    type="range"
    min="0"
    max="100"
    value="{{ TraversalInitialState.depth }}">
  <br />

  <label for="{{ HtmlElementId.PaintSelect }}">Paint with:</label>
  <select name="{{ HtmlElementId.PaintSelect }}" id="{{ HtmlElementId.PaintSelect }}">
    {{#each PaintOptions}}
    <option id="{{ this }}" value="{{ this }}">{{ this }}</option>
    {{/each}}
  </select>

  <br />
  <br />

  <span>Clicked (lon, lat):</span>
  <br />
  <span id="{{ HtmlElementId.TraversalLonLat }}">{{ TraversalInitialState.clickHint }}</span>
</div>
