<h4>Pathfinding Configuration</h4>
<br />

<div id="{{ HtmlElementId.CostConfigParent }}">
  <span>A* Heuristic Greediness</span>
  <br />
  <input
    class="slider"
    id="{{ HtmlElementId.HeuristicWeightRange }}"
    type="range"
    min="0.3"
    max="1.5"
    step="0.1"
    value="{{ CostDefaults.HeuristicWeight }}">
  <br />

  <span>Prefer Bike Lanes:</span>
  <br />
  <input
    class="slider"
    id="{{ HtmlElementId.CyclewayCoefficientRange }}"
    type="range"
    min="0"
    max="1"
    step="0.1"
    value="{{ CostDefaults.CyclewayCoefficient }}">
  <br />

  <span>Prefer Quiet Streets:</span>
  <br />
  <input
    class="slider"
    id="{{ HtmlElementId.RoadCoefficientRange }}"
    type="range"
    min="0"
    max="1"
    step="0.1"
    value="{{ CostDefaults.RoadCoefficient }}">
  <br />

  <span>I follow rules:</span>
  <br />
  <input
    class="slider"
    id="{{ HtmlElementId.SalmonCoefficientRange }}"
    type="range"
    min="0"
    max="1"
    step="0.1"
    value="{{ CostDefaults.SalmonCoefficient }}">
</div>
