<h4>Segment</h4>
<hr>
<table>
  <tr>
    <td><strong>from</strong></td>
    <td>
    {{#if (isStartNode (getProp properties PropKey.From))}}
      <span>Start</span>
    {{else}}
      <a
        href="https://www.openstreetmap.org/node/{{getProp properties PropKey.From}}"
        target="_blank"
        rel="noopener noreferrer">
        {{getProp properties PropKey.From}}
      </a>
    {{/if}}
    </td>
  </tr>

  <tr>
    <td><strong>to</strong></td>
    <td>
    {{#if (isEndNode (getProp properties PropKey.To))}}
      <span>End</span>
    {{else}}
      <a
        href="https://www.openstreetmap.org/node/{{getProp properties PropKey.To}}"
        target="_blank"
        rel="noopener noreferrer">
        {{getProp properties PropKey.To}}
      </a>
    {{/if}}
  </tr>

  <tr>
    <td><strong>way</strong></td>
    <td><a
      href="https://www.openstreetmap.org/way/{{abs (getProp properties PropKey.Way)}}"
      target="_blank"
      rel="noopener noreferrer"
    >{{getProp properties PropKey.Way}}</td>
  </tr>

  {{#each properties}}
  {{#if (isNotOSMKey @key)}}
      <tr>
        <td><strong>{{@key}}</strong></td>
        <td>{{this}}</td>
      </tr>
  {{/if}}
  {{/each}}
</table>
