<div hidden id="{{ HtmlElementId.TraversePanel }}">
  <span>Traversal Depth:</span>
  <span id="{{ HtmlElementId.DepthValue }}">{{ TraversalDefaults.depth }}</span>
  <br />

  <input
    class="slider"
    id="{{ HtmlElementId.DepthRange }}"
    type="range"
    min="0"
    max="100"
    value="{{ TraversalDefaults.depth }}">
  <br />

  <label for="{{ HtmlElementId.PaintSelect }}">Paint with:</label>
  <select name="{{ HtmlElementId.PaintSelect }}" id="{{ HtmlElementId.PaintSelect }}">
    {{#each PaintOptions}}
    <option id="{{ this }}" value="{{ this }}">{{ this }}</option>
    {{/each}}
  </select>
</div>
